<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="[%d{yyyy-MM-dd} %d{HH:mm:ss}] %highlight{[ %-5level ][%C{1}]} %m%n" />
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            <Filters>
                <Filter type="ThresholdFilter" level="ALL" onMatch="DENY" onMismatch="NEUTRAL" />
                <Filter type="MarkerFilter" marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </Console>

        <!-- File Appender -->
        <RollingFile name="File" fileName="${log-path}/app.log"
                     filePattern="${log-path}/$${date:yyyy-MM}/app-%d{MM-dd}.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>